body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.header-main {
    font-size: 50px;
    font-weight: normal;
    color: white;
}